/* src/index.css */
@import url('https://fonts.googleapis.com/css2?family=Delius&display=swap');
/* Tailwind CSS directives */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom Global Styles (Optional) */
body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: var(--text-color);
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

/* You can define custom CSS variables here too */
:root {
  --primary-color: rgb(192, 192, 192); /* Example: blue-500 */
  --app-background-color: #FFFFF5;
  --text-color: #000000; /* Default text color for light mode */
}

.light {
  --primary-color: #000000;
  --app-background-color: #FFFFFF;
}

.dark {
  --primary-color: #38bdf8;
  --app-background-color: #18181b;
  --text-color: #FFFFFF; /* Text color for dark mode */
}

/* Any global classes that apply to multiple components, though with Tailwind, this is less common */
.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 1rem;
}